// Vertical Align Placeholder for @extend
@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	transform: translateY(-50%);
}

// Transition Mixin
@mixin transition($transitionSpeed: 0.2s, $ease: cubic-bezier(0.65, 0, 0.35, 1)) {
	transition: $transitionSpeed $ease;
	-o-transition: $transitionSpeed $ease;
	-ms-transition: $transitionSpeed $ease;
	-moz-transition: $transitionSpeed $ease;
	-webkit-transition: $transitionSpeed $ease;
}